.content-container{
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}


.cards-boxes{
    display: flex;
    margin-bottom: 30px;

}

.content-card{
    margin-left: 20px;
}